



body{
    background-color: pink;
}
h1{
    text-align: center; 
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red; 
    filter: grayscale(0.5); 
   
    
    
}


h4{padding-left:32px ;
}